쉬운 것일 수록 더 꼼꼼히 헷갈리지 않게 정리 하자!!!


### 딕셔너리(k : v ) -> 시리즈(index, value)

주로 많이 형변환이 일어남

In [1]:
import pandas as pd

In [2]:
#key : value 쌍으로 딕셔너리를 만들고 변수 dict_data에 저장

dict_data = {'a' : 1, 'b' : 2, 'c' : 3}

In [4]:
sr = pd.Series(dict_data)
type(sr)

pandas.core.series.Series

In [6]:
print('\n')
print(sr)

a    1
b    2
c    3
dtype: int64

### 인덱스 : 데이터 값의 순서와 주소를 지정

인덱스, 인덱스 이름, 인덱스 라벨

In [4]:
import pandas as pd
list_data = ['2019-01-02', 3.14, 'ABC', 100, True]
sr = pd.Series(list_data)
print(sr)
idx = sr.index
val = sr.values
print(idx)
print('\n')
print(val)

0    2019-01-02
1          3.14
2           ABC
3           100
4          True
dtype: object
RangeIndex(start=0, stop=5, step=1)


['2019-01-02' 3.14 'ABC' 100 True]

In [9]:
import pandas as pd

tup_data = ('영인', '2010-05-01', '여', True)
sr = pd.Series(tup_data, index=['이름', '생년월일', '성별', '학생여부'])
print(sr)
print(sr[0])
print(sr['이름'])
print(sr[[1,2]])
print('\n')
print(sr[['생년월일', '성별']])
print(sr[1: 2])
print('\n')
print(sr['생년월일' : '성별'])

이름              영인
생년월일    2010-05-01
성별               여
학생여부          True
dtype: object
영인
영인
생년월일    2010-05-01
성별               여
dtype: object


생년월일    2010-05-01
성별               여
dtype: object
생년월일    2010-05-01
dtype: object


생년월일    2010-05-01
성별               여
dtype: object

### 데이터프레임

이차원 벡터, 행렬

시리즈(1차원 배열)의 집합

In [11]:
import pandas as pd

dict_data = {'c0' : [1,2,3], 'c1' : [4,5,6], 'c2' : [7,8,9], 'c3' : [10,11,12], 'c4':[13,14,15]}

df = pd.DataFrame(dict_data)
print(type(df))
print('\n')
print(df)

<class 'pandas.core.frame.DataFrame'>


   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

In [16]:
import pandas as pd

df = pd.DataFrame([[15, '남', '덕영중'], [17, '여', '수리중']], index = ['준서' , '예은'], columns = ['나이', '성별', '학교'])

print(df)
print('\n')
#columns index 변경
df.rename(columns = {'나이' : '연령', '성별' : '남녀', '학교' : '소속'}, inplace = True)
print('\n')
df.rename(index = {'준서' : '학생1', '예은':'학생2'}, inplace = True)
print(df)

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중




     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중

In [18]:
import pandas as pd

exam_data = {'수학' : [90,80,70], '영어' : [98, 89, 95], '음악' : [85, 95, 100], '체육' : [100, 90, 90]}

df = pd.DataFrame(exam_data, index = ['서준', '우현', '인아'])
print(df)
print('\n')

df2 = df[:]
print(df2)
df2.drop('우현', inplace = True)
print(df2)
print('\n')

df3 = df[:]
print(df3)
df3.drop(['우현', '인아'], axis = 0, inplace = True)
print(df3)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90
    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90


    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90
    수학  영어  음악   체육
서준  90  98  85  100

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [19]:
import pandas as pd

exam_data = {'수학' : [90,80,70], '영어' : [98, 89, 95], '음악' : [85, 95, 100], '체육' : [100, 90, 90]}

df = pd.DataFrame(exam_data, index = ['서준', '우현', '인아'])
print(df)
print('\n')

df4 = df.copy()

df4.drop('수학', axis = 1, inplace = True)
print(df4)
print('\n')

df5 = df.copy()
df5.drop(['영어', '음악'], axis = 1, inplace = True)
print(df5)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


    영어   음악   체육
서준  98   85  100
우현  89   95   90
인아  95  100   90


    수학   체육
서준  90  100
우현  80   90
인아  70   90

In [28]:
import pandas as pd

exam_data = {'수학' : [90,80,70], '영어' : [98, 89, 95], '음악' : [85, 95, 100], '체육' : [100, 90, 90]}

df = pd.DataFrame(exam_data, index = ['서준', '우현', '인아'])
print(df)
print('\n')

label1 = df.loc['서준']
positional = df.iloc[0] #0행을 읽어와서 수학, 영어, 음악 점수를 읽는다

#print(label1)
#print('\n')
#print(positional)

label2 = df.loc[['서준', '우현']]
positional2 = df.iloc[[0,1]] 
#print(label2)
#print('\n')

#print(positional2)

label3 = df.loc['서준' : '우현']
position3 = df.iloc[0:1]
print(label3)
print('\n')
print(position3)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90


    수학  영어  음악   체육
서준  90  98  85  100

In [30]:
import pandas as pd

exam_data = {'이름' : ['서준', '우현', '인아'],
             '수학' : [90,80,70], 
             '영어' : [98, 89, 95], 
             '음악' : [85, 95, 100], 
             '체육' : [100, 90, 90]}

df = pd.DataFrame(exam_data)
#print(df)
#print(type(df))
#print('\n')

math1 = df['수학']
#print(math1)
#print(type(math1))
#print('\n')

english = df.영어
#print(english)
#print(type(english))

music_gym = df[['음악', '체육']]
print(music_gym)
print(type(music_gym))
print('\n')

math2 = df[['수학']]
print(math2)
print(type(math2))

    음악   체육
0   85  100
1   95   90
2  100   90
<class 'pandas.core.frame.DataFrame'>


   수학
0  90
1  80
2  70
<class 'pandas.core.frame.DataFrame'>

In [31]:
df.iloc[: : 2]

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
2  인아  70  95  100   90

In [32]:
df.iloc[0 : 3 : 2]

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
2  인아  70  95  100   90

In [33]:
df.iloc[ : : -1]

   이름  수학  영어   음악   체육
2  인아  70  95  100   90
1  우현  80  89   95   90
0  서준  90  98   85  100

In [40]:
import pandas as pd

exam_data = {'이름' : ['서준', '우현', '인아'],
             '수학' : [90,80,70], 
             '영어' : [98, 89, 95], 
             '음악' : [85, 95, 100], 
             '체육' : [100, 90, 90]}

df = pd.DataFrame(exam_data)

df.set_index('이름', inplace = True)
print(df)

a = df.loc['서준', '음악']
#print(a)
b = df.iloc[0,2]
#print(b)

c = df.loc['서준', ['음악', '체육']]
#print(c)

d = df.iloc[0, [2,3]]
#print(d)

e = df.loc['서준', '음악' : '체육']
#print(e)

f = df.iloc[0, 2:]
#print(f)

g = df.loc[['서준', '우현'], ['음악', '체육']]
print(g)

h  = df.iloc[[0,1], [2,3]]
print(h)

i = df.loc['서준': '우현', '음악' : '체육']
print(i)

j = df.iloc[0:2, 2:]
print(j)

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90
    음악   체육
이름
서준  85  100
우현  95   90
    음악   체육
이름
서준  85  100
우현  95   90
    음악   체육
이름
서준  85  100
우현  95   90
    음악   체육
이름
서준  85  100
우현  95   90

In [42]:
import pandas as pd

exam_data = {'이름' : ['서준', '우현', '인아'],
             '수학' : [90,80,70], 
             '영어' : [98, 89, 95], 
             '음악' : [85, 95, 100], 
             '체육' : [100, 90, 90]}

df = pd.DataFrame(exam_data)
print(df)
print('\n')

#df['국어'] = 80
#print(df)

df.loc[3] = 0
print(df)
print('\n')

df.loc[4] = ['동규' , 90, 80, 70, 60]
print(df)
print('\n')

df.loc['행5'] = df.loc[3]
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90


   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
3   0   0   0    0    0


   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
3   0   0   0    0    0
4  동규  90  80   70   60


    이름  수학  영어   음악   체육
0   서준  90  98   85  100
1   우현  80  89   95   90
2   인아  70  95  100   90
3    0   0   0    0    0
4   동규  90  80   70   60
행5   0   0   0    0    0

In [44]:
import pandas as pd

exam_data = {'이름' : ['서준', '우현', '인아'],
             '수학' : [90,80,70], 
             '영어' : [98, 89, 95], 
             '음악' : [85, 95, 100], 
             '체육' : [100, 90, 90]}

df = pd.DataFrame(exam_data)

df.set_index('이름', inplace = True)
print(df)
print('\n')

df.iloc[0][3] = 80
print(df)
print('\n')

df.loc['서준']['체육'] = 90
print(df)
print('\n')

df.loc['서준', '체육'] = 100
print(df)

df.loc['서준', ['음악', '체육']] = 50
print(df)
print('\n')

df.loc['서준', ['음악', '체육']] = 100,50
print(df)

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


    수학  영어   음악  체육
이름
서준  90  98   85  80
우현  80  89   95  90
인아  70  95  100  90


    수학  영어   음악  체육
이름
서준  90  98   85  90
우현  80  89   95  90
인아  70  95  100  90


    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90
    수학  영어   음악  체육
이름
서준  90  98   50  50
우현  80  89   95  90
인아  70  95  100  90


    수학  영어   음악  체육
이름
서준  90  98  100  50
우현  80  89   95  90
인아  70  95  100  90

In [45]:
import pandas as pd

exam_data = {'이름' : ['서준', '우현', '인아'],
             '수학' : [90,80,70], 
             '영어' : [98, 89, 95], 
             '음악' : [85, 95, 100], 
             '체육' : [100, 90, 90]}

df = pd.DataFrame(exam_data)
print(df)
print('\n')

df = df.transpose()
print(df)
print('\n')

df = df.T
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90


      0   1    2
이름   서준  우현   인아
수학   90  80   70
영어   98  89   95
음악   85  95  100
체육  100  90   90


   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

In [47]:
import pandas as pd

exam_data = {'이름' : ['서준', '우현', '인아'],
             '수학' : [90,80,70], 
             '영어' : [98, 89, 95], 
             '음악' : [85, 95, 100], 
             '체육' : [100, 90, 90]}

df = pd.DataFrame(exam_data)
print(df)
print('\n')

ndf = df.set_index(['이름'])
print(ndf)
print('\n')

ndf2 =ndf.set_index('음악')
print(ndf2)

ndf3 = ndf.set_index(['수학', '음악'])
print(ndf3)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90


    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


     수학  영어   체육
음악
85   90  98  100
95   80  89   90
100  70  95   90
        영어   체육
수학 음악
90 85   98  100
80 95   89   90
70 100  95   90

In [48]:
import pandas as pd

dict_data = {'c0' : [1,2,3], 
             'c1' : [4,5,6], 
             'c2' : [7,8,9],
             'c3' : [10,11,12],
             'c4' : [13,14,15]}

df = pd.DataFrame(dict_data, index = ['r0', 'r1', 'r2'])
print(df)
print('\n')

new_index = ['r0', 'r1', 'r2', 'r3', 'r4']
ndf = df.reindex(new_index)
print(ndf)
print('\n')

new_index = ['r0', 'r1', 'r2', 'r3', 'r4']
ndf2 = df.reindex(new_index, fill_value = 0) 
print(ndf2)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15


     c0   c1   c2    c3    c4
r0  1.0  4.0  7.0  10.0  13.0
r1  2.0  5.0  8.0  11.0  14.0
r2  3.0  6.0  9.0  12.0  15.0
r3  NaN  NaN  NaN   NaN   NaN
r4  NaN  NaN  NaN   NaN   NaN


    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15
r3   0   0   0   0   0
r4   0   0   0   0   0

In [49]:
import pandas as pd

dict_data = {'c0' : [1,2,3], 
             'c1' : [4,5,6], 
             'c2' : [7,8,9],
             'c3' : [10,11,12],
             'c4' : [13,14,15]}

df = pd.DataFrame(dict_data, index = ['r0', 'r1','r2'])
print(df)
print('\n')

ndf = df.reset_index()
print(ndf)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15


  index  c0  c1  c2  c3  c4
0    r0   1   4   7  10  13
1    r1   2   5   8  11  14
2    r2   3   6   9  12  15

In [52]:
import pandas as pd

dict_data = {'c0' : [1,2,3], 
             'c1' : [4,5,6], 
             'c2' : [7,8,9],
             'c3' : [10,11,12],
             'c4' : [13,14,15]}

df = pd.DataFrame(dict_data, index = ['r0', 'r1','r2'])
print(df)
print('\n')

ndf = df.sort_index(ascending=False)
print(ndf)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15


    c0  c1  c2  c3  c4
r2   3   6   9  12  15
r1   2   5   8  11  14
r0   1   4   7  10  13

In [53]:
import pandas as pd

dict_data = {'c0' : [1,2,3], 
             'c1' : [4,5,6], 
             'c2' : [7,8,9],
             'c3' : [10,11,12],
             'c4' : [13,14,15]}

df = pd.DataFrame(dict_data, index = ['r0', 'r1','r2'])
print(df)
print('\n')

ndf = df.sort_values(by = 'c1', ascending = False)
print(ndf)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15


    c0  c1  c2  c3  c4
r2   3   6   9  12  15
r1   2   5   8  11  14
r0   1   4   7  10  13